.THIS {
                background:#11324D;
    color:black;
            }
            .THIS.c-container {
                border: 2px solid #C2B0C9;
                margin: 10px 0 20px 0;
            }
            .THIS .page-section {
                border: solid 2px #C2B0C9;
                padding: 1rem;
            }
            .THIS .page-header,
            .THIS .page-footer {
                height: 50px;
       border: 2px solid #C2B0C9;
                background:#EEE3CB;
            }
            .THIS .page-main {
                background:#D6E5FA;
            }
            .THIS .page-left,
            .THIS .page-right {
                background: #D6E5FA;
            }