.THIS {
    background:#FCF8E8;
}
.THIS.c-container {
    border: 1px solid #94B49F;
    margin: 10px 0 20px 0;
}
.THIS .page-section {
    border: solid 1px #DF7861;
    padding: 1rem;
}
.THIS .page-header,
.THIS .page-footer {
    height: 50px;
}
.THIS .page-main {
    background: #E7F6F2;
}
.THIS .page-left,
.THIS .page-right {
    background: #f0efef;
}